.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 200px); /* 2 колонки по 100px */
  grid-template-rows: repeat(3, 100px);    /* 3 строки по 100px */
  gap: 10px; /* Пробел между ячейками */
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
